
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.wrapper{
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;

    position: fixed;
    top: 0;
    z-index: 1000;

    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.442);
    transition: .3s ease;
}
.unexpendable{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.logo{
display: flex;
gap: 0.5rem;
align-items: center;
width: auto;
/* background-color: turquoise; */
}

.name{
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.tpc{
    color: black;
    font-size: 0.9rem;
    font-weight: 700;

}
.iiti{
    color: black;
    font-size: 0.6rem;
}

.iitilogo{
    width: auto;
    height: 4rem;
}
.modals{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modals ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: min(1vw,0.9rem)
}
.modals ul li{
    margin: 2px;
}

.modalbutton{
 
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.dropdown{
    width: 10px;
    height: 10px;
}



.menu{
    width: 2rem;
    height: 2rem;
    /* background-color: aqua; */
    display: none;
    margin-right: 5px;
    

}

.topbar{
width: 100%;
height: 1px;
border: 1px solid black;
transition: .3s ease;
}
.midbar{
width: 100%;
height: 1px;
border: 1px solid black;
transition: .3s ease;
}
.lowbar{
width: 100%;
height: 1px;
border: 1px solid black;
transition: .3s ease;
}

.menu:hover > .midbar{
    width: 60%;
    transform: translateX(0.8rem);

}
.menu:hover > .lowbar{
    width: 30%;
    transform: translateX(1.4rem);


}


@media only screen and (max-width: 1100px){


.modals{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}


}


@media only screen and (max-width: 490px){

    .english{
       font-size: 0.7;
    }
    .hindi{
        font-size: 0.4;
    }
    .partition{
        display: none;
    }
    .tpc , .iiti{
        display: flex;
        flex-direction: column-reverse;
    }


}