@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.wrapper {
    width: 100%;
    height: 5rem;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.442);

}

.unexpendable {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-inline: 10px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    width: auto;

}

.name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.tpc {
    color: black;
    font-size: 0.9rem;
    font-weight: 700;

}

.iiti {
    color: black;
    font-size: 0.6rem;
}

.iitilogo {
    width: auto;
    height: 4rem;
}

.modals {
    width: auto;
    display: flex;
    align-items: flex-start;

}
.headlink{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 3px;


}

.modals ul {
    display: flex;
    list-style: none;
  align-items: center;
    font-size: min(1vw, 0.9rem);

    /* background-color: aqua; */
}

.modals ul li {
    margin: 2px;
    /* background-color: bisque; */
    padding-inline: 1.4vw;
    font-size: 0.8rem;

    
}

.modalbutton {

    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
    position: relative;
    height: 3rem;
    /* background-color: aqua; */
}

.dropdown {
    width: 10px;
    height: 10px;
}

.droplist{
    display: none;
    position: absolute;
    top: 2.7rem;

  
}

.modalbutton:hover .droplist{
    display: flex;
  
}



.menu {
    width: 1.5rem;
    height: 1.5rem;
    /* background-color: aqua; */
    display: none;
    margin-right: 5px;


}

.topbar {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    transition: .3s ease;
}

.midbar {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    transition: .3s ease;
}

.lowbar {
    width: 100%;
    height: 1px;
    border: 1px solid black;
    transition: .3s ease;
}

.menu:hover>.midbar {
    width: 60%;
    transform: translateX(0.6rem);

}

.menu:hover>.lowbar {
    width: 30%;
    transform: translateX(1.05rem);


}
@media only screen and (max-width: 1290px) {


  
    .tpc{
        font-size: 0.8rem;
    }
    .iiti{
        font-size: 0.6rem;
    }
    .modals ul li {
        padding: 0.6rem;
    }
    /* .partition {
        display: none;
    } */

    /* .tpc,
    .iiti {
        display: flex;
        flex-direction: column-reverse;
    } */



}
@media only screen and (max-width: 1160px) {


  
    .tpc{
        font-size: 0.8rem;
    }
    .iiti{
        font-size: 0.6rem;
    }
    .modals ul li {
        padding: 0.6rem;
        font-size: 0.7rem;
    }
   



}
@media only screen and (max-width: 1085px) {

    .modals{
        display: none;
    }
    .menu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}


}


@media only screen and (max-width: 450px) {

    .english {
        font-size: 0.7;
    }

    .hindi {
        font-size: 0.4;
    }

    .partition {
        display: none;
    }

    .tpc,
    .iiti {
        display: flex;
        flex-direction: column-reverse;
    }
    .name{
        gap: 1px;
    }


}