@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.modal{
    font-family: "Inter", serif;

}

.modal dialog {
    width: 70vw;
    
}


.modal dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    align-self: flex-end;
}

.backbutton{

    width: 20px;
    height: 20px;
    margin: 20px;

}

.close {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0rem 1rem 0 1rem;
    color: hsl(0, 0%, 100%);
    padding-inline: 5% 10%;
    gap: 20px;
  
    
    
}

.heading {
    display: flex;
    gap: 0.5rem;
    color: hsl(0, 0%, 100%);
    flex-direction: column;

}

.heading h2 {

    font-size: 3rem;
    color: transparent;
    font-weight: bold;
    background: linear-gradient(to left , #0487D2 , #02456C);
    background-clip: text;
}

.heading h1 {
    color: hsl(0, 0%, 100%);
    /* background: linear-gradient(to right , #0487D2 , #02456C); */
    font-size: 3vw;
    font-weight: bold;
    padding-inline: 10px;
   

}

.heading h1 div{

    background: linear-gradient(to right , #0487D2 , #02456C);
   width: auto;
   text-wrap: wrap;

}

.image {
    /* overflow: hidden; */
    display: flex;
    align-items: center;

    
}
.image div{
    background: linear-gradient(to bottom , #0487D2 , #02456C);
    scale: 1.1;
}
.image img{
    
    width: auto;
    scale: 0.95;
}


.info {
    padding-inline: 4rem;
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding-top: 20px;
    text-align: justify;
    
}

.modal::-webkit-scrollbar {
    width: 0px; /* Customize scrollbar width */
}



   


    

    @media only screen and (max-width: 1350px){
        .modal dialog{
            width: 80vw;
        }
        
        .heading h1{
            font-size:  3vw;
        }

    }

        

        @media only screen and (max-width: 1010px){
           
            .top{
                flex-direction: column;
                align-items: center;
            }
            .heading{
                flex-direction: row;
                justify-content: center;
                
            }
            .heading h2{
                font-size: 5vw;
            }
            .heading h1{
                font-size: 5vw;
            }
            .image{
               
                scale: 0.8;
            }

            .info{
                padding: 0;
                padding-inline: 20px;
                justify-content: center;
                text-align: justify;

            }
            
            
            }


            @media only screen and (max-width: 768px){
                .modal dialog{
                    width: 80vw;
                }

                .info{
                    font-size: 1.1rem;
                    line-height: 2rem;
                }

                
                
                
                }
                
                @media only screen and (max-width: 425px){
                    .modal dialog{
                        width: 90vw;
                    }

                    .info{
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    
                    
                    
                    }
                    