@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: black;
  background: #f2f1f1;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  position: relative;
  justify-content: center;
}
.unexpendable {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0;
  font-family: "Poppins";
  padding-inline: 1rem;
  /* background-color: aqua; */
}

.header1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right, #115398, #0488d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #0488D3; */
  position: relative;
  transition: 0.3s ease;
}

.header1:hover {
  word-spacing: 1.1rem;
  letter-spacing: 1.1rem;
  filter: brightness(150%);
  transform: translateX(10px);
}

.header2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right, #115398, #0488d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* color: #0488D3; */
  filter: brightness(150%);
  transition: 0.3s ease;
}

.header2:hover {
  font-size: 3.5rem;
}

.para {
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.header3 {
  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right, #115398, #0488d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* color: #0488D3; */
  filter: brightness(150%);
  transition: 0.3s ease;
}
.questitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #115398, #0488d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* margin-top: 3rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

.questitle:hover {
  filter: brightness(150%);
}

@media (max-width: 440px) {
  .unexpendable {
    gap: 50px;
    padding: 2rem;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.modal {
  font-weight: bold;
  background: linear-gradient(to right, #115398, #0488d3);
  color: white;
  font-size: 2rem;
  transition: 0.3s ease;
  padding: 4px;
  border-radius: 5px;
}


.enter1{
  position: relative;
  animation-name: enter1;
 animation-duration: 0.6s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter1 {
  0% {
    opacity: 0;
    transform: translateY(-50%) ;
  }
  100% {
    opacity: 1;
    transform: translateY(0) ;
  }
}

.enter2{
  position: relative;
  animation-name: enter2;
 animation-duration: 0.6s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter2 {
  0% {
    opacity: 0;
    transform: translateX(-50%) ;
  }
  100% {
    opacity: 1;
    transform: translateX(0) ;
  }
}