@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #FBFBFD;;
  font-family: Poppins;

  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.wrapper{
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  position: relative;
  justify-content: center;
  margin-block: 20px;


}
.unexpendable{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0;

  padding-inline: 1rem;
  /* background-color: aqua; */
}

.header1{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right , #115398, #0488D3);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  /* color: #0488D3; */
  position: relative;
  transition: .3s ease;

}

.header1:hover{
  word-spacing: 1.1rem; 
  letter-spacing: 1.1rem;
  filter: brightness(150%) ;
  transform: translateX(10px);
}


.header2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right , #115398, #0488D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* color: #0488D3; */
  filter: brightness(150%);
  transition: .3s ease;
}

.header2:hover {
  font-size: 3.5rem;

}

.para{

  text-align: justify;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.header3 {

  text-transform: capitalize;
  font-weight: bold;
  background: linear-gradient(to right , #115398, #0488D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  /* color: #0488D3; */
  filter: brightness(150%);
  transition: .3s ease;
}
.questitle{
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right , #115398, #0488D3);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  /* margin-top: 3rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  transition: .3s ease;
 
}

.questitle:hover{
filter: brightness(150%);
}


@media (max-width: 440px) {
  .unexpendable{
    gap: 50px;
    padding: 2rem;
  }
}