
.content {
  position: relative;
  z-index: 10;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 500px;
  height: 480px;
  border-radius: 10px;

  backdrop-filter: blur(10px);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 840px) {
  .backgroundmob {
    width: 100vw;
    height: 120vh;
    position: absolute;
    top: -7.3rem;
    left: 0;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    height: 120vh;
    top: 0;
  }
}

@media screen and (max-width: 472px) {
  .backgroundmob {
    width: 100vw;
    height: 130vh;
    position: absolute;
    top: -7.3rem;
    left: 0;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    height: 130vh;
    top: 0;
  }
}

@media screen and (max-width: 472px) {
  .backgroundmob {
    width: 100vw;
    height: 165vh;
    position: absolute;
    top: -7.3rem;
    left: 0;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    height: 165vh;
    top: 0;
  }
}
