
.title{

 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 10px;
    width: 100%;
    justify-content: center;

}

.F{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    background: linear-gradient(to right , #115398, #0488D3);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* color: #0488D3; */

    transition: .3s ease;

}