.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5rem;
    padding: 0;
    margin: 0;
    place-items: center;
    
}
.card {
  perspective: 150rem;
  position: relative;
  height: 500px;
  width: 375px;
  box-shadow: none;
  background: none;
  border-radius: 20px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardside {
  height: 500px;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  background-color: white;

  border-radius: 20px;
  text-align: center;

}

.cardside.back {
  transform: rotateY(-180deg);
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;
  /* border-top: 4px solid #0073e6; */
}

.cardside.front {
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;

  
}

.card:hover .cardside.front {
  transform: rotateY(180deg);
}

.card:hover .cardside.back {
  transform: rotateY(0deg);
}




.image{
  border-radius: 5px 100px 20px 40px;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(to right, rgb(141, 58, 217),rgb(200, 58, 121));
  border-radius: 5px 100px 20px 40px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
 opacity: 0;
 z-index: 10;
 transition: .7s ease;
 
}

.overlay:hover{
 opacity: 1;

}

.card:hover .overlay{
  opacity: 1;

}


@media screen and (max-width: 1185px){
  .cardContainer{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px){
  .cardContainer{
      grid-template-columns: repeat(1, 1fr);
  }
}