.wrapper{
    width: 100%;
    height: 20rem;
    background-color: #03101D;
    position: absolute;
    bottom: 0;
}

.finishergrad{
    width: 100%;
    height: 0.4rem;
    background: linear-gradient(to right, #0387D2, #105297);
    position: absolute;
    bottom: 0;
}