@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.modal{
    font-family: "Inter", serif;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* color: white; */
    /* border-top: linear-gradient(to bottom, #0387D2, #105297); */
}

.modal dialog {
    width: 70vw;
}


.modal dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    align-self: flex-end;
}

.backbutton{

    width: 20px;
    height: 20px;
    margin: 20px;

}

.close {
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}


.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    color: hsl(0, 0%, 100%);
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* justify-content: space-between; */
    color: hsl(0, 0%, 100%);
}

.heading h2 {
    color: rgb(28, 27, 27);
    font-size: 1.4rem;
    color: #000000;
    font-weight: bold;
}

.heading h1 {
    color: hsl(0, 0%, 100%);
    background-color: rgb(28, 27, 27);
    font-size: 1.7rem;
    font-weight: bold;

}

.image {
    overflow: hidden;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 5px solid #5BBCFF;
}

.info {
    padding: 0 1rem;
    font-family: "Arvo", serif;
    font-weight: 500;
    
}

.modal::-webkit-scrollbar {
    width: 0px; /* Customize scrollbar width */
}


@media only screen and (max-width: 768px){
.modal dialog{
    width: 80vw;
}



}

@media only screen and (max-width: 425px){
    .modal dialog{
        width: 90vw;
    }
    
    
    
    }
    

