
.wrapper{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
margin-bottom: 100px;
margin-top: 50px;
}



.unexpandable{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

  

}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
    
}

.info h2 {
    padding: 0.7rem;
    color: #FF8000;
    border: 1px solid #FFB366;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 1.2rem;
    transition: .3s ease;
}

/* .info h2:hover{
    letter-spacing: 0.5rem;
    transform: translateX(5px);
} */

.info p {
    font-size: 1.3rem;
    font-weight: bold;
    word-wrap: break-word;
    text-align: justify;
}

.login {
    width: 50%;
}

.login h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
    color: #0A75BE;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: .3s ease;
}

.login h1:hover{
    font-weight: 700;
    
}

.button {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap; /* Enable wrapping for smaller screens */

    
}

.button button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to bottom, #0487D2, #115398);
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 17px;
    width: 11rem;
    margin: 0.5rem; /* Add margin for spacing in smaller screens */
}

.button button a:first-child {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.button button:last-child{
    border: 2px solid;
    border-radius: 17px;
    border: 2px solid #195493;
    /* border-image: linear-gradient(to right, #0487D2, #115398) 1; */
    background: linear-gradient(to right, #0487D2, #115398);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    
}
.button  button a:last-child{
  font-weight: 600;
  display: flex;
    width: 100%;
    justify-content: flex-start;

}


.lines1{
    
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -10px;
    background-color: rgb(255, 0, 55);
    height: 0;
    margin-top: 1.5rem;
    width: 45vw;
    border-bottom: 1px solid #FF9326;

}

.lines2{
    
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -20px;
    background-color: rgb(255, 0, 55);
    height: 0;
    margin-top: 1.5rem;
    width: 22.5vw;
    border-bottom: 1px solid #FF9326;

}
.lines3{
    
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -30px;
    background-color: rgb(255, 0, 55);
    height: 0;
    margin-top: 1.5rem;
    width: 25vw;
    border-bottom: 1px solid #FF9326;

}




/* Media Queries for Responsiveness */
@media (max-width: 768px) {

    .unexpandable {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }

    .info, .login {
        width: 90%; 
        text-align: center; 
        margin: 15px;
    }

    .button {
        align-items: center;
    }

    .button button {
        width: 11rem; 
    }

    .info p{
        font-size: 1.1rem;
    }
    .info h2{
        font-size: 1.1rem;
    }
}


@media (max-width: 450px) {



    .button button a:first-child {
        font-size: 1.3rem;
        font-weight: 800;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    
   
    
   





}