.header2 {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    background: linear-gradient(to right , #115398, #0488D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    /* color: #0488D3; */
    filter: brightness(150%);
    transition: .3s ease;
    margin: 20px;
  }
  
  .header2:hover {
    font-size: 1.5rem;
  
  }