@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper{
font-family: 'Poppins', sans-serif;
margin: 1rem 1.5rem;
justify-content: center;
display: flex;
flex-direction: column;

gap: 30px;
}


.questitle:hover{
  filter: brightness(150%);
}
.wrapper h1{
    font-size: 2rem;
    font-weight :800;
    margin-bottom: 1rem;
}
.wrapper p{
    font-size: 1rem;
    font-weight: 500;
}
.wrapper h2{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0;
}

.table{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 4rem;
    padding: 0;
    margin: 0;
    place-items: center;
   
}

.card{
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaa, -2px -2px 5px #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}



/* 
.button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
  } */
  
 

.table div{
    display: flex;
    flex-direction: column;

    padding: 0.3rem;
    row-gap: 1rem;
   justify-content: space-between;
   
   
}
.table div img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain; 
    transition: transform 0.2s ease ;
}


.insta{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 600px;
    background: linear-gradient(45deg, rgba(237,190,66),rgba(220,64,68),rgba(193,40,138),rgba(106,18,154));
    z-index: 10;
    transition: .5s ease;
    
   display: flex;
   justify-content: center;

   align-items: center;
   align-content: center;
   

}
.insta div{
    display: flex;
   justify-content: center;

   align-items: center;
   align-content: center;
   transform: translateY(10px);

}
.insta div img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain; 
    transition: transform 0.2s ease ;
    scale: 0.7;
}

.card:hover .insta{
    top: 0;
}
.insta:hover{
    top: 0;
}


