.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: calc( 10px);
    height: auto;
}



.unexpandable {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    
   
}

.carousel{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    height: 50vh;
    justify-content: center;
}



.location{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.location div{
    font-size: 1.3rem;
    color: rgba(254, 146, 38, 0.55);
}

.icon{
    width: 20px;
    height: 20px;
}

.activedot{
    color: black;
    font-weight: 900;
}

.inactivedot{
    color: rgba(0, 0, 0, 0.462);
    font-weight: 700;
}

.gallery{
    display: flex;
    flex-direction: column;
    width: 80%;

}
.gallery img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.dots{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 10%;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
}


.sidebar button{
    width: 100%;
    height: 20%;
    object-fit: cover;
    border: none;
    background-color: white;
    cursor: pointer;
}

.sidebar img{
    height: 100%;
    width: 100%;
}


@media (max-width: 768px) {

    .carousel{
        flex-direction: column;
    }
    .sidebar{
        flex-direction: row;
        width: 95%;
        gap: 5px;
        height: 20%;
        overflow: visible;
        justify-content: space-between;
        
    }

    .sidebar button{
        width: 20%;
        height: 100%;
        object-fit: cover;
    }




    
    .gallery{
        flex-direction: row;
        gap: 10px;
        width: 97%;
    }
    .dots{
        flex-direction: column;
        gap: 2px;
    }

   
}